﻿@{
    ViewBag.Title = "Index";
}

@section Styles {
    <link href="@Url.Content("~/Styles/Sidebar.css")" rel="stylesheet" type="text/css" />
}

<nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
        <img src="https://cdn.pixabay.com/photo/2017/07/18/23/23/user-2517433_960_720.png" />
        <h2>Admin</h2>
    </header>
    <ul>
        <li tabindex="0" class="icon-home"><span>@Html.ActionLink("Home", "Index", "Home")</span></li>
        <li tabindex="0" class="icon-users"><span>@Html.ActionLink("Customers", "ListClients", "Home")</span></li>
        <li tabindex="0" class="icon-movies"><span>@Html.ActionLink("Movies", "Movies", "Home")</span></li>
        <li tabindex="0" class="icon-rental-records"><span>@Html.ActionLink("Rental records", "ListActiveRentalRecords", "Home")</span></li>
        <li tabindex="0" class="icon-settings"><span>@Html.ActionLink("Settings", "ViewSettings", "Home")</span></li>
        <li tabindex="0" class="icon-logout"><span>@Html.ActionLink("Logout", "Logout", "Home", new { Area="user"}, new { })</span></li>
    </ul>
</nav>

<main>
    <div class="helper" style="top:25%;">
        <span>Administrator page</span>
        In this page, you can view a list with all the registered customers as well as their rental records, both active and inactive. You can also register a new movie to the system and view a list with all the registered movies.
    </div>
</main>