﻿@{
    ViewBag.Title = "Home Page";
}

@section Styles {
    <link href="@Url.Content("~/Styles/Login.css")" rel="stylesheet" type="text/css" />
}

<ul class="nav">
    <li onclick="showLogin()">Login</li>
    <li onclick="showSignup()">Sign up</li>
    <li onclick="showForgotPassword()">Forgot password</li>
    <li onclick="showSubscribe()">Subscribe</li>
    <li onclick="showContactUs()">Contact us</li>
</ul>
<div class="wrapper">
    <div class="rec-prism">
        <div class="face face-top">
            <div class="content">
                <h2>Subscribe</h2>
                <small>Enter your email so we can send you the latest updates!</small>
                <form onsubmit="event.preventDefault()">
                    <div class="field-wrapper">
                        <input type="text" name="email" placeholder="email" required>
                        <label>e-mail</label>
                    </div>
                    <div class="field-wrapper">
                        <input type="submit">
                    </div>
                </form>
            </div>
        </div>
        <div class="face face-front">
            <div class="content">
                <h2>Sign in</h2>
                <form action="user/Home/Login" method="post">
                    @Html.AntiForgeryToken()
                    <div class="field-wrapper">
                        <input type="text" name="email" placeholder="username" required>
                        <label>username</label>
                    </div>
                    <div class="field-wrapper">
                        <input type="password" name="password" placeholder="password" autocomplete="new-password" required>
                        <label>password</label>
                    </div>
                    <div class="field-wrapper">
                        <input type="submit">
                    </div>
                    <span class="psw" onclick="showForgotPassword()">Forgot Password?   </span>
                    <span class="signup" onclick="showSignup()">Not a user?  Sign up</span>
                </form>
            </div>
        </div>
        <div class="face face-back">
            <div class="content">
                <h2>Forgot your password?</h2>
                <small>Enter your email so we can send you a reset link for your password</small>
                <form onsubmit="event.preventDefault()">
                    <div class="field-wrapper">
                        <input type="text" name="email" placeholder="email">
                        <label>e-mail</label>
                    </div>
                    <div class="field-wrapper">
                        <input type="submit" onclick="showThankYou()">
                    </div>
                </form>
            </div>
        </div>
        <div class="face face-left">
            <div class="content">
                <h2>Contact us</h2>
                <form onsubmit="event.preventDefault()">
                    <div class="field-wrapper">
                        <input type="text" name="name" placeholder="name">
                        <label>Name</label>
                    </div>
                    <div class="field-wrapper">
                        <input type="text" name="email" placeholder="email">
                        <label>e-mail</label>
                    </div>
                    <div class="field-wrapper">
                        <textarea placeholder="your message"></textarea>
                        <label>your message</label>
                    </div>
                    <div class="field-wrapper">
                        <input type="submit" onclick="showThankYou()">
                    </div>
                </form>
            </div>
        </div>
        <div class="face face-bottom">
            <div class="content">
                <div class="thank-you-msg">
                    Thank you!
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let prism = document.querySelector(".rec-prism");

    function showSignup() {
        let url = window.location.href;
        window.location.replace(url + "user/home/register");
    }
    function showLogin() {
        prism.style.transform = "translateZ(-100px)";
    }
    function showForgotPassword() {
        prism.style.transform = "translateZ(-100px) rotateY( -180deg)";
    }

    function showSubscribe() {
        prism.style.transform = "translateZ(-100px) rotateX( -90deg)";
    }

    function showContactUs() {
        prism.style.transform = "translateZ(-100px) rotateY( 90deg)";
    }

    function showThankYou() {
        prism.style.transform = "translateZ(-100px) rotateX( 90deg)";
    }
</script>
