﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VideoClub</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body onload="loadCache()">
    <div class="container body-content">
        <script src="https://kit.fontawesome.com/225cb903a5.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="@Url.Content("~/CustomScripts/filter.js")"></script>
        <script>
            function filter() {
                let url = window.location.href;
                let counter = 0;
                if (url.lastIndexOf("?") == -1)
                    url += "?";
                else
                    url += "&";
                for (let item of filters) {
                    if (counter++ > 0)
                        url += "&";
                    let res = Number(item);
                    if (isNaN(res)) {
                        if (url.lastIndexOf("availability") != -1) {
                            if (item == "true") {
                                url = url.replace("availability=false", "availability=true");
                                if (url.endsWith("availability=true&")) {
                                    url = url.substring(0, url.length - 1);
                                }
                            } else {
                                url = url.replace("availability=true", "availability=false");
                                if (url.endsWith("availability=false&")) {
                                    url = url.substring(0, url.length - 1);
                                }
                            }
                        } else {
                            if (item == "true") {
                                url += "availability=true"
                            } else {
                                url += "availability=false"
                            }
                        }
                    } else {
                        if (url.includes("genres=" + res))
                            continue;
                        url += "genres=" + res;
                    }
                    if (url.endsWith("&")) {
                        url = url.substring(0, url.length - 1);
                    }
                }

                if (url.endsWith("&")) {
                    url = url.substring(0, url.length - 1);
                }

                let regex = new RegExp("pageNo=[0-9]+");

                if (regex.test(url)) {
                    let pageno = url.match("pageNo=[0-9]+")[0]
                    let number = pageno.match(/(\d+)/)[0];
                    url = url.replace("pageNo=" + number, "pageNo=1")
                }


                let items = [];
                for (let item of cache) {
                    if (item == undefined || item == null || isNaN(item))
                        continue;
                    items.push(item);
                }
                if (sessionStorage.getItem("cache") != null) {
                    let temp = JSON.parse(sessionStorage.getItem("cache"));
                    for (let item of temp) {
                        items.push(item);
                    }
                }


                if (sessionStorage.getItem("prevSize") != null) {
                    if (sessionStorage.getItem("prevSize") > items.length) {
                        let genres = url.match(/genres=[1-9]+/g);
                        if (genres != null) {

                            let numbers = new Set();
                            for (let item of genres) {
                                let num = parseInt(item.match(/(\d+)/)[0]);
                                numbers.add(num);
                            }

                            for (let item of items) {
                                if (numbers.has(item))
                                    numbers.delete(item);
                            }
                            for (let item of numbers) {
                                if (url.indexOf("&genres=" + item) != -1)
                                    url = url.replace("&genres=" + item, "");
                                if (url.indexOf("genres=" + item + "&") != -1)
                                    url = url.replace("genres=" + item + "&", "");
                                if (url.indexOf("genres=" + item) != -1)
                                    url = url.replace("genres=" + item, "");
                            }
                        }

                        let availabilities = url.match(/availability=(true|false)/g);
                        if (availabilities!= null) {
                            let booleans = new Set();
                            for (let booleanValue of availabilities) {
                                let bool = ((booleanValue.match(/(true|false)/)[0]) === 'true');
                                booleans.add(bool);
                            }

                            for (let item of items) {
                                if (booleans.has(item))
                                    booleans.delete(item);
                            }

                            for (let item of booleans) {
                                if (url.lastIndexOf("&availability="+item) != -1)
                                    url = url.replace("&availability="+item, "");
                                if (url.lastIndexOf("availability="+item+"&") != -1)
                                    url = url.replace("availability="+item+"&", "");
                                if (url.lastIndexOf("availability="+item) != -1)
                                    url = url.replace("availability=" + item, "");
                                if (url.lastIndexOf("?availability=" + item) != -1)
                                    url = url.replace("?availability=" + item, "");
                            }

                        }
                    }
                }

                sessionStorage.setItem("cache", JSON.stringify(items));
                sessionStorage.setItem("prevSize", items.length);
               
                window.location.replace(url);
                refreshed = true;
                setTimeout(function () {
                    let arr = [].slice.call(document.getElementsByClassName("pagination-container"));
                    if (arr.length == 1) {
                        for (let tag of arr[0].getElementsByTagName("a")) {
                            tag.href = url;
                        }
                    }
                    history.pushState(null, null, url);
                }, 100);

            }

            function loadCache() {
                if (sessionStorage.length > 0) {
                    setTimeout(function () {
                        let data = JSON.parse(sessionStorage.getItem("cache"));
                        for (let item of data) {
                            if (item == undefined || item == null)
                                continue;
                            document.getElementById(item).checked = true;
                        }
                    }, 200);
               }
            }
        </script>
        @RenderBody()

    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("Styles", false)
</body>
</html>
