﻿@{
    ViewBag.Title = "RentMovie";
}

@section Styles {
    <link href="@Url.Content("~/Styles/RentMovieTable.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/MovieList.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/MovieListSearch.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/Modal.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/CustomTextArea.css")" rel="stylesheet" type="text/css" />
}


<h2>Rent Movie</h2>
<div class="wrapper">
    <div class="input-group"><input id="searchbar" class="search" type="text" placeholder="Movie title?" /><span class="bar"></span></div>
</div>
&nbsp;
<h1>Select <span>available</span> movie </h1>
&nbsp;
<form>
    <input class="chosen-value" type="text" value="" placeholder="Type to filter">
    <ul id="movie-list" class="value-list">
    </ul>
</form>
&nbsp;
<div class="table-wrapper">
    <table class="fl-table" style="margin-top:350px;">
        <thead class="header">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Title
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody id="rent-table-body">
        </tbody>
    </table>
</div>
<div id="text-area-container">
    <textarea placeholder="Comment" id="text-area-id" rows="4" style="resize: none; height: 160px; "></textarea>
    <br />
</div>
<div class="container-modal">
    <div class="interior">
        <a class="btn" href="#" onclick="submitMovieRentalRecord(this);">Submit</a>
    </div>
</div>
<div id="open-modal" class="modal-window">
    <div id="result-modal">
        <a href="#" title="Close" class="modal-close" onclick="setInterval(() => { location.reload(); }, 600);">Close</a>
    </div>
</div>

@section Scripts {
    <!-- Load Babel -->
    <!-- v6 <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script> -->
    <script src="https://unpkg.com/@("@")babel/standalone/babel.min.js"></script>
    <!-- Your custom script here -->

    <script type="text/babel">
        function init(){
        const inputField = document.querySelector('.chosen-value');
        const dropdown = document.querySelector('.value-list');
        const dropdownArray = [... document.querySelectorAll('li')];
        console.log(typeof dropdownArray)
        dropdown.classList.add('open');
        inputField.focus(); // Demo purposes only
        let valueArray = [];
        dropdownArray.forEach(item => {
        valueArray.push(item.textContent);
        });

        const closeDropdown = () => {
        dropdown.classList.remove('open');
        }

        inputField.addEventListener('input', () => {
        dropdown.classList.add('open');
        let inputValue = inputField.value.toLowerCase();
        let valueSubstring;
        if (inputValue.length > 0) {
        for (let j = 0; j < valueArray.length; j++) {
        if (!(inputValue.substring(0, inputValue.length) === valueArray[j].substring(0, inputValue.length).toLowerCase())) {
        dropdownArray[j].classList.add('closed');
        } else {
        dropdownArray[j].classList.remove('closed');
        }
        }
        } else {
        for (let i = 0; i < dropdownArray.length; i++) {
        dropdownArray[i].classList.remove('closed');
        }
        }
        });

        dropdownArray.forEach(item => {
        item.addEventListener('click', (evt) => {
        inputField.value = item.textContent;
        dropdownArray.forEach(dropdown => {
        dropdown.classList.add('closed');
        });
        });
        })

        inputField.addEventListener('focus', () => {
        inputField.placeholder = 'Type to filter';
        dropdown.classList.add('open');
        dropdownArray.forEach(dropdown => {
        dropdown.classList.remove('closed');
        });
        });

        inputField.addEventListener('blur', () => {
        inputField.placeholder = 'Select movie';
        dropdown.classList.remove('open');
        });

        document.addEventListener('click', (evt) => {
        const isDropdown = dropdown.contains(evt.target);
        const isInput = inputField.contains(evt.target);
        if (!isDropdown && !isInput) {
        dropdown.classList.remove('open');
        }
        });
        }
    </script>
    <script type="text/javascript" src="@Url.Content("~/CustomScripts/rentMovie.js")"></script>
}
